*{
  margin: 0;padding: 0;
  box-sizing: border-box;
}


.product-image{
  max-width: 400px;
  width: 100%;
  height: 200px;
}

.rating span { 
  color:#ffc000;
}


.large{
  max-width: 100%;
}


img.thumbnail {
  height: 80px;
}